html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --btn-color: #f4f4fd;
  --btn-text-color: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
}

.img {
  display: block;
}

.header {
  margin: 0;
  background: #ffffff;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-links {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24 px;
  padding-bottom: 24px;
}

.header-links:hover,
.header-links:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.navigation {

}

.address-list{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.address-list .address-links {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-links:hover,
.address-links:focus {
  color: #404bbf;
}

.hero {
  text-align: center;
  margin: 0;
  background: #2e2f42;
}

.hero-name {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.order-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  text-align: center;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

.btn-items {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  background-color: var(--btn-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--btn-text-color);
  border-radius: 4px;
  border-color: #e7e9fc;
  padding: 12px 24px;
  text-align: center;
}

.btn-items:hover,
.btn-items:focus {
  background-color: #404bbf;
  color: #ffffff;
  border-color: #404bbf;
}

.link-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-studio-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.section-benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-list {
  display: flex;
  align-items: flex-start;
  flex-basis: calc((100% - 3*24px) / 4);
  gap: 24px;
}

.benefits-items {
  border: 2px solid tomato;
}

.benefits-items-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.benefits-text {
  margin-top: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.services-list {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  margin-top: 72px;
}

.section-services {
  padding-bottom: 120px;

}

.section-team {
  background: #f4f4fd;
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 72px;
  padding-bottom: 120px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.team-list-items {
  padding-bottom: 32px;
  background-color: #ffffff;
}

.team-names {
  margin-top: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-positions {
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #2e2f42;
}

.footer-text {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.main-portfolio {
  background: #FFFFFF;
  padding-top: 96px;
  padding-bottom: 120px;
}

.list-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}

.portfolio-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  margin-top: 72px;
}

.portfolio-list-icons {
  flex-basis: calc((100% - 48px) / 3);
  padding-bottom: 32px;
  border-color: 1px solid #E7E9FC;
}

.portfolio-title-items {
  margin-top: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list-text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}




/*test1*/

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f9f9fd;
}

.page-header {
  /*  Making header.page-header a Flex-container and aligning elements  */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #607d8b;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.logo {
  padding: 15px;
  border-radius: 4px;
  background-color: #ff5722;
  text-decoration: none;
  color: #fff;
}

.menu {
  display: flex;
  gap: 8px;
  padding: 15px;
  margin: 0;
  list-style: none;
  border-radius: 4px;
  background-color: #2196f3;
}

.menu .link {
  display: block;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  background-color: #fff;
}

.menu .link:hover,
.menu .link:focus,
.logo:hover,
.logo:focus {
  text-decoration: underline;
}


/*test2*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #edf2f7;
}

/* .container {
  max-width: 1200px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
} */

.card-set {
  display: flex;
  /* Make a flex container multiline */
  flex-wrap: wrap;
  /* Set gap between rows and columns */
  gap: 10px;
  padding: 0;
  list-style: none;
}

.item {
  /*  Set the width of the elements  */
  flex-basis: calc((100% - 20px) / 3);
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.item h2 {
  margin-top: 0;
  font-size: 20px;
}

.item p {
  margin: 0;
}